<div class="wonderscontent">
    <div class="wonders">
        <div class="wonder1 container">
            <div class="imageinfo">
                <div class="img"></div>
                <div class="innerinfo">
                    <h3>Civilization: Egyptian </h3>
                    <h3>City: Gyza</h3>
                    <h3>Country: Egypt</h3>
                    <h3>Years standing: 4577 (To this day) </h3>
                    <h3>Height: 455ft/138.7m </h3>
                </div>
            </div>
            <div class="info">
                <h1>GREAT PYRAMID OF GIZA
                </h1>
                <p>The Great Pyramid of Giza was built in 2570 BC and is still standing today. It is believed to have
                    taken 20 years and as many as 100,000 workers to complete the Great Pyramid, which was built as a
                    tomb for the 4th dynasty Egyptian pharaoh named Khufu. It was built as part of a complex that
                    included temples and many other pyramids.</p>
                <p>The outermost stones of the pyramid were highly polished white limestone, which were eventually
                    loosened by an earthquake more than 600 years ago, and were removed to help build cities and
                    mosques. When these casing stones were present, some believe that the pyramid was so large and
                    bright that it could be seen from the moon.
                </p>
                <p>
                    There is much speculation about the construction methodologies and intentions of the pyramid,
                    including references to the moon, the Orion constellation, continental gravity, and more. What is
                    known, however, is that the four sides of the base are more than 700 feet long, and differ in length
                    by no more than 8 inches. Each side of the pyramid is almost perfectly aligned with the four
                    cardinal points of the compass. And, the pyramid's dimensions covert to a ratio that equates to 2π
                    with nearly perfect accuracy.</p>
            </div>
        </div>
        <div class="wonder2 container">
            <div class="imageinfo">
                <div class="img">c</div>
                <div class="innerinfo">d</div>
            </div>
            <div class="info">b</div>
        </div>
        <div class="wonder3 container">
            <div class="imageinfo">
                <div class="img">c</div>
                <div class="innerinfo">d</div>
            </div>
            <div class="info">b</div>
        </div>
        <div class="wonder4 container">
            <div class="imageinfo">
                <div class="img">c</div>
                <div class="innerinfo">d</div>
            </div>
            <div class="info">b</div>
        </div>
        <div class="wonder5 container">
            <div class="imageinfo">
                <div class="img">c</div>
                <div class="innerinfo">d</div>
            </div>
            <div class="info">b</div>
        </div>
        <div class="wonder6 container">
            <div class="imageinfo">
                <div class="img">c</div>
                <div class="innerinfo">d</div>
            </div>
            <div class="info">b</div>
        </div>
        <div class="wonder7 container">
            <div class="imageinfo">
                <div class="img">c</div>
                <div class="innerinfo">d</div>
            </div>
            <div class="info">b</div>
        </div>
    </div>
</div>