<div class="wonderscontent">
    <div class="wonders">
        <div class="wonder1 container">
            <div class="imageinfo">
                <div class="img"></div>
                <div class="innerinfo">
                    <h3>Civilization: Egyptian </h3>
                    <h3>City: Gyza</h3>
                    <h3>Country: Egypt</h3>
                    <h3>Years standing: 4577 (To this day) </h3>
                    <h3>Height: 455ft/138.7m </h3>
                </div>
            </div>
            <div class="info">
                <h1>GREAT PYRAMID OF GIZA
                </h1>
                <p>The Great Pyramid of Giza was built in 2570 BC and is still standing today. It is believed to have
                    taken 20 years and as many as 100,000 workers to complete the Great Pyramid, which was built as a
                    tomb for the 4th dynasty Egyptian pharaoh named Khufu. It was built as part of a complex that
                    included temples and many other pyramids.</p>
                <p>The outermost stones of the pyramid were highly polished white limestone, which were eventually
                    loosened by an earthquake more than 600 years ago, and were removed to help build cities and
                    mosques. When these casing stones were present, some believe that the pyramid was so large and
                    bright that it could be seen from the moon.
                </p>
                <p>
                    There is much speculation about the construction methodologies and intentions of the pyramid,
                    including references to the moon, the Orion constellation, continental gravity, and more. What is
                    known, however, is that the four sides of the base are more than 700 feet long, and differ in length
                    by no more than 8 inches. Each side of the pyramid is almost perfectly aligned with the four
                    cardinal points of the compass. And, the pyramid's dimensions covert to a ratio that equates to 2π
                    with nearly perfect accuracy.</p>
            </div>
        </div>
        <div class="wonder2 container">
            <div class="imageinfo">
                <div class="img"></div>
                <div class="innerinfo">
                    <h3>Civilization: Babylon</h3>
                    <h3>City: Al Hilla</h3>
                    <h3>Country: Iraq</h3>
                    <h3>Years standing: 374</h3>
                    <h3>Height: Unknown</h3>
                </div>
            </div>
            <div class="info">
                <h1>HANGING GARDENS OF BABYLON</h1>
                <p>The Hanging Gardens of Babylon was built in 600 BC and was destroyed by an earthquake in 226 BC. The
                    first and most interesting fact about the gardens is that there is significant controversy about
                    whether the gardens existed at all.</p>
                <p>Whether they did or did not exist, there are many elaborate accounts and poetic descriptions of the
                    gardens. They are generally believed to have been built by King Nebuchadrezzar II for his wife
                    because she missed the gardens of her home. Some research suggests that it was an elaborate series
                    of rooftop gardens. Another theory suggests that the gardens were built in the walls of the royal
                    palace.</p>
                <p>Babylon, being in the middle of the desert, had no such natural greenery, however; calling into
                    question of how such lushness would have survived in the dryness of the desert. Recent excavations
                    have suggested the use of an exceptional system of irrigation using a cellar well in conjunction
                    with a chain pump to raise the water to the gardens. Still, other theories even suggest that the
                    gardens weren't in Babylon at all. Rather, that they were constructed by Sennacherib at the eastern
                    bank of the Tigris river.</p>
                <p>Regardless of the final outcome, it is interesting to note that the imagination of the poets and
                    ancient historians have created one of the Wonders of the World.</p>
            </div>
        </div>

        <div class="wonder3 container">
            <div class="imageinfo">
                <div class="img"></div>
                <div class="innerinfo">
                    <h3>Civilization: Greek</h3>
                    <h3>City: Ephesus</h3>
                    <h3>Country: Turkey</h3>
                    <h3>Years standing: 194</h3>
                    <h3>Height: 60ft/18.3m</h3>
                </div>
            </div>
            <div class="info">
                <h1>TEMPLE OF ARTEMIS AT EPHESUS</h1>
                <p>The Temple of Artemis at Ephesus (Ἀρτεμίσιον) was built in 550 BC and was destroyed by fire in 356
                    BC. The Temple of Artemis at Ephesus was built and rebuilt over the course of many years. The most
                    famous was built in about 550 BC and was funded by King Croesus of Lydia.</p>
                <p>Unlike many other temples of its time, it was built of marble and glittered with gold. The temple's
                    foundation was over 180 by 350 feet and its steps led to a high platform on which stood more than
                    one hundred beautifully sculptured columns that supported its roof. At least twice the size of the
                    Parthenon, it was so breathtaking it was said to rise to the clouds.</p>
                <p>The temple housed many incredible works of art, but the most famous was the statue of Artemis
                    herself. Although the original no longer exists, it was thought to have been made of gold and other
                    beautiful materials. Her legs were covered with animals and bees, and the top of the body covered
                    with breasts symbolizing fertility.</p>
                <p>Although destroyed and rebuilt many times, and ultimately left to be destroyed by man, nature, and
                    neglect, the most famous version of the temple was destroyed by arson committed by a man named
                    Herostratus on the night Alexander the Great was born.</p>
            </div>
        </div>

        <div class="wonder4 container">
            <div class="imageinfo">
                <div class="img"></div>
                <div class="innerinfo">
                    <h3>Civilization: Greek</h3>
                    <h3>City: Olympia</h3>
                    <h3>Country: Greece</h3>
                    <h3>Years standing: 855</h3>
                    <h3>Height: 39ft/11.9m</h3>
                </div>
            </div>
            <div class="info">
                <h1>STATUE OF ZEUS AT OLYMPIA</h1>
                <p>The Statue of Zeus at Olympia (Δίας μυθολογία) was built in 430 BC and was destroyed by fire in 426
                    AD. Carved from ivory, on a throne of cedarwood, the statue was created by the Greek sculptor
                    Phidias around 430 BC. In its right hand was a life-size statue of Nike, the goddess of victory, and
                    in its left was a large scepter topped with an eagle. The statue, nearly 40 feet tall, was said to
                    fill the entire width of one of the aisles of the Temple of Zeus, and its head nearly scraped the
                    temple's ceiling.</p>
                <p>In 426 AD, the temple was destroyed, and many historians believe that the statue was destroyed at
                    that time. Others believe, however, that the statue was moved to Constantinople (now Istanbul) and
                    was destroyed about 50 years later.</p>
                <p>Although many copies of the statue were made during its 800+ year lifespan, none are known to have
                    survived.</p>
            </div>
        </div>
        <div class="wonder5 container">
            <div class="imageinfo">
                <div class="img"></div>
                <div class="innerinfo">
                    <h3>Civilization: Achaemenid</h3>
                    <h3>City: Bodrum</h3>
                    <h3>Country: Turkey</h3>
                    <h3>Years standing: 1755</h3>
                    <h3>Height: 135ft/41.1m</h3>
                </div>
            </div>
            <div class="info">
                <h1>MAUSOLEUM AT HALICARNASSUS</h1>
                <p>The Mausoleum at Halicarnassus (Μαυσωλεῖον Ἁλικαρνασσεύς) was built in 352 BC and was destroyed by an
                    earthquake in 1404 AD. The monument was built as a tomb for Mausolus, a governor in the Persian
                    Empire. Sparing no expense, his widowed wife Artemisia (who was also his sister as was considered
                    customary) commissioned well-known Greek architects and artists to design the tomb and sculptural
                    reliefs for each of the four sides of the building.</p>
                <p>The monument was almost square, nearly 14 stories tall, and its base was more than 10,000 square
                    feet. Each side of the tomb had nine massive columns, and the top was a stepped pyramid on which
                    stood a four-horse marble chariot in which there were images of Mausolus and Artemisia.</p>
                <p>The monument stood for nearly 17 centuries and was eventually destroyed by a series of earthquakes.
                    And, like the Lighthouse of Alexandria, the tomb was so famous that Mausolus's name has become the
                    root word for large tombs in many languages (for example, "mausoleo" in Spanish).</p>
            </div>
        </div>

        <div class="wonder6 container">
            <div class="imageinfo">
                <div class="img"></div>
                <div class="innerinfo">
                    <h3>Civilization: Greek</h3>
                    <h3>City: Rhodes</h3>
                    <h3>Country: Greece</h3>
                    <h3>Years standing: 56</h3>
                    <h3>Height: 107ft/32.6m</h3>
                </div>
            </div>
            <div class="info">
                <h1>COLOSSUS OF RHODES</h1>
                <p>The Colossus of Rhodes (Κολοσσός της Ρόδου) was built in 282 BC and was destroyed by an earthquake in
                    226 BC. In 294 BC, the people of the island of Rhodes began building a colossal statue of the sun
                    god Helios. They believed that it was because of his blessings that they were able to withstand a
                    long siege on the island and emerge victorious.</p>
                <p>The Colossus was built with bronze, reinforced with iron, and weighted with stones. While it is often
                    depicted straddling Mandrákion harbor, this is now considered technically impossible; and therefore,
                    it likely stood beside the harbor.</p>
                <p>The statue was toppled by an earthquake in 226 BC. It snapped at the knees and fell over onto the
                    land. The Oracle of Delphi suggested that it fell because the people of Rhodes had offended Helios,
                    and they decided not to rebuild it.</p>
                <p>The statue remained on the ground until 654 AD., and even broken, it was so impressive that many
                    traveled to see it.</p>
            </div>
        </div>

        <div class="wonder7 container">
            <div class="imageinfo">
                <div class="img"></div>
                <div class="innerinfo">
                    <h3>Civilization: Egyptian</h3>
                    <h3>City: Alexandria</h3>
                    <h3>Country: Egypt</h3>
                    <h3>Years standing: 1602</h3>
                    <h3>Height: 455ft/138.7m</h3>
                </div>
            </div>
            <div class="info">
                <h1>LIGHTHOUSE OF ALEXANDRIA</h1>
                <p>The Lighthouse of Alexandria (ὁ Φάρος τῆς Ἀλεξανδρείας) was built in 280 BC and was destroyed by an
                    earthquake in 1323 AD. Located on the island of Pharos in the harbor of Alexandria, the lighthouse
                    may be the most famous lighthouse in history.</p>
                <p>The lighthouse was very different than modern lighthouses in that it was built in three stages, all
                    sloping inward. Built of marble blocks with lead mortar; the lowest was square, the next octagonal,
                    and the top cylindrical. Within the lighthouse was a ramp and "dumbwaiter" that allowed wood to be
                    transported to the fire that burned at night.</p>
                <p>Inside the open top of the lighthouse was a large curved mirror that was used to reflect the sunlight
                    during the day and the fire at night. It is said that mariners could see the light up to 35 miles
                    away. Legends have it that the light was so bright it could be used to burn enemy ships.</p>
                <p>There are many stories about its ultimate demise, however, the most likely cause is believed to be as
                    many as 22 earthquakes between 320 AD and 1323 AD which led to its decommission.</p>
                <p>The Lighthouse of Alexandria was so famous in ancient times that the island on which it stood,
                    Pharos, became the root word for lighthouse in many languages (for example, "phare" in French).</p>
            </div>
        </div>

    </div>
</div>