@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalnia:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;600&display=swap');

.wonderscontent {
    background-color: rgb(255, 255, 255);
    height: 300vh;
    display: flex;
    flex-direction: column;
}

.wonders {
    display: flex;
    flex-direction: column;
    row-gap: 15vh;
}


.info h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 3em;
}


p {
    font-family: 'Kalnia', serif;
    font-weight: 400;
    font-size: 1.15em;
}

h3 {
    font-family: 'Oswald', sans-serif;
    font-size: 1.7em;
}

span {
    font-family: 'Kalnia', serif;
    font-weight: 400;

}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
}

.wonder1 {
    background: url("https://lp-cms-production.imgix.net/2020-11/GettyRF_1085205362.jpg");
    background-size: cover;
    
}

.wonder2 {
    margin-top: -15vh;
    background: url("https://cdnb.artstation.com/p/assets/images/images/058/183/187/large/nasr-vfx-frame-comp-v002.jpg?1673561411");
    background-size: cover;
}

.wonder3 {
    margin-top: -15vh;
    background: url("https://i.redd.it/zmbbt3gwipe21.jpg");
    background-size: cover;}

.wonder4 {
    margin-top: -15vh;
    background: url("https://miro.medium.com/v2/resize:fit:1400/1*v1mxnJ0-qgCbJoVkJZOMNQ.jpeg");

    background-size: cover;}

    

.wonder5 {
    margin-top: -15vh;
    background: url("https://www.worldhistory.org/uploads/images/12902.png");
    background-size: cover;}

.wonder6 {
    margin-top: -15vh;
    background: url("https://wallpapercave.com/wp/wp10147436.jpg");
    background-size: cover;}

.wonder7 {
    margin-top: -15vh;
    background: url("https://www.worldhistory.org/img/c/p/1600x900/7615.jpg");
    background-size: cover;}

.imageinfo {
    width: 50%;
    display: flex;
    flex-direction: column;
    scale: .9;
    text-align: right;
    margin-right: 10vw;
    margin-top: 10vh;
    
}

.info {
    width: 50%;
    scale: .9;
    margin-left: 10vw;
    margin-top: 10vh;
    background-color: rgba(255, 255, 255, 0.486);
    height: 75%;
    padding: 1em;
    border-radius: 20px;

}

.img {
    height: 65%;
    background-color: rgb(89, 131, 187);
    border-radius: 20px;
}

.innerinfo {

    height: 35%;
}

.imageinfo {
    color: rgb(255, 255, 255);
}