@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalnia:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;600&display=swap');

.wonderscontent {
    background-color: rgb(255, 255, 255);
    height: 100vh;
    display: flex;
    flex-direction: column;
/*     overflow-y: hidden;
 */}

.wonders {
    display: flex;
    flex-direction: column;
    row-gap: 15vh;
}


.info h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 3em;
}


p {
    font-family: 'Kalnia', serif;
    font-weight: 400;
    font-size: 1.15em;
}

h3 {
    font-family: 'Oswald', sans-serif;
    font-size: 2em;
    display: flex;
    flex-direction: column;
}

span {
    font-family: 'Kalnia', serif;
    font-weight: 400;
    font-size: .8em;

}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
}

.wonder1 {
    background: url("https://lp-cms-production.imgix.net/2020-11/GettyRF_1085205362.jpg");
    background-size: cover;
    border-bottom: 2px solid white;
}

.black {
    display: flex;
    background: rgba(0, 0, 0, 0.151);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(11.5px);
    border-radius: 10px;}

.wonder2 {
    margin-top: -15vh;
    background: url("https://cdnb.artstation.com/p/assets/images/images/058/183/187/large/nasr-vfx-frame-comp-v002.jpg?1673561411");
    background-size: cover;
    border-bottom: 2px solid white;

}

.wonder3 {
    margin-top: -15vh;
    background: url("https://i.redd.it/zmbbt3gwipe21.jpg");
    background-size: cover;
    border-bottom: 2px solid white;

}

.wonder4 {
    margin-top: -15vh;
    background: url("https://miro.medium.com/v2/resize:fit:1400/1*v1mxnJ0-qgCbJoVkJZOMNQ.jpeg");
    border-bottom: 2px solid white;

    background-size: cover;
}



.wonder5 {
    margin-top: -15vh;
    background: url("https://www.worldhistory.org/uploads/images/12902.png");
    background-size: cover;
    border-bottom: 2px solid white;

}

.wonder6 {
    margin-top: -15vh;
    background: url("https://wallpapercave.com/wp/wp10147436.jpg");
    background-size: cover;
    border-bottom: 2px solid white;

}

.wonder7 {
    margin-top: -15vh;
    background: url("https://www.worldhistory.org/img/c/p/1600x900/7615.jpg");
    background-size: cover;
    
}


.info {
    width: 60%;
    scale: .9;
    margin-left: 5vw;
    margin-top: 10vh;
    height: 75%;
    padding: 3em 5em 2em 5em;
    border-radius: 20px;
   
    color: rgb(228, 228, 228);
}

.img {
    height: 65%;
    background-color: rgb(89, 131, 187);
    border-radius: 20px;
}




.imageinfo {
    width: 60%;
    display: flex;
    flex-direction: column;
    text-align: right;
    background-color: white;
    clip-path: polygon(60% 0, 100% 0, 100% 100%, 0 100%, 0 100%);

}
.imageinfo1 {
    width: 60%;
    display: flex;
    flex-direction: column;
    text-align: right;
    background-color: white;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 60% 100%, 0 0%);

}
.innerinfo {
    margin-right: 6vw;
    margin-top: 13vh;
    scale: 1.1;
    
}

.scroll-button {
    position: fixed;
    bottom: 20px;
    right: 40px;
    font-size: 20px;
    cursor: pointer;
    background-color: #c5c5c5;
    color: #fff;
    border: none;
    border-radius: 50%;
    padding: 15px;
    transition: background-color 0.3s;
    scale: .8;
}

.scroll-button:hover {
    background-color: #2980b9;
    
}

.back {
    margin-left: 10vw;
    position: fixed;
    bottom: 20px;
    right: 7vw;
}

.button-container {
    display: flex;
  }


@media(max-width: 1441px) {
    .info {
        width: 110%;
        margin-left: -2vw;
    }
    .innerinfo {
        scale: .8;
        margin-right: 0;
    }
}

@media(max-width: 1030px) {
    .info {
        width: 110%;
        margin-left: -2vw;
    }
    .innerinfo {
        scale: .8;
        margin-right: 0;
        margin-top: -2vh;
    }
    p {
        font-size: .85em;
    }
}

@media(max-width: 800px) {
    .imageinfo {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);

    }

    .imageinfo1 {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);

    }

    .container {
        height: 150vh;
    }

    .back {
        right: 17vw;
    }
    
}

@media(max-width: 500px) {
   .container {
    height: 300vh;
    width: 100%;
   }

   p {
    font-size: 1.4em;
   }
  
   .imageinfo {
    display: none;
   }
   .imageinfo1 {
    display: none;
   }


   .innerinfo {
    scale: 1;
    margin-right: 3vw;
    margin-top: 15vh;
    height: 280vh;
    
   }

   h3 {
    margin-bottom: 35vh;
   }
}
