<div class="main">
  <app-navbar />
  <div class="content">
    <div class="p1">
      <div class="containers">
        <div class="container1">
          <h1 class="title">7Wonders</h1>
          <h3 class="subtitle">A portal to an ancient world</h3>
        </div>
      </div>

      <div class="background-image-container">
        <div class="background-image"></div>
      </div>

      <div class="containersBOTTOM"></div>
      <div class="p2">
        <div class="contest"></div>
      </div>
    </div>
  </div>
</div>