<div class="main">
  <app-navbar />
  <div class="content">
    <div class="p1">
      <div class="containers">
        <div class="container1">
          <h1 class="title" data-aos="fade-right" data-aos-duration="2000">7Wonders</h1>
          <h3 class="subtitle" data-aos="fade-right" data-aos-duration="3000">A portal to an ancient world</h3>
        </div>
      </div>

      <div class="background-image-container">
        <div class="background-image"></div>
      </div>

      <div class="p2">
        <div class="contest">
          <div class="core">
            <div class="corecontent">
              <h1 class="number" data-aos="fade-down" data-aos-duration="2000">
                01
              </h1>
              <h2 class="subnum" data-aos="fade-up" data-aos-duration="2000">
                ABOUT THE PROJECT
              </h2>
              <div class="pcontainer">
                <p class="fparagraph">
                  (ARRUMAR RESPONSIVIDADE)
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Error, ad eos, maiores eum doloremque ex
                  quas saepe, neque assumenda non eligendi possimus deserunt tempora autem nihil repudiandae totunt
                  tempora autem nihil repudiandae totam quidem exercitationem. Lorem ipsum dolor sit amet consectetur,
                  adipisicing elit. Error, ad eos, maiores eum doloremque ex quas saepe, neque assumenda non eligendi
                  possimus deserunt tempora autem.
                </p>
                <p class="sparagraph">
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Error, ad eos, maiores eum doloremque ex
                  quas saepe, neque assumenda non eligendi possimus deserunt tempora autem nihil repudiandae totam
                  quimenda non eligendi possimus deserunt tempora autem nihil repudiandae totam quidem exercitationem.
                </p>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="p3">
        <div class="contest1">
          <div class="core1">
            <div class="corecontent1">
              <h1 class="number" data-aos="fade-right" data-aos-duration="2000">
                02
              </h1>
              <h2 class="subnum" data-aos="fade-left" data-aos-duration="2000">
                A trip down world's history
              </h2>
              <p>Lorem ipsum dolor sit amet consectetur iuam praesentium cum rerum ratione quibusdam at iste, animi
                commodi molestiae veritatis libero, molestias culpa doloremque blanditiis?</p>
            </div>

          </div>
        </div>
      </div>
      <div class="p4">
        <div class="contest2">
          <div class="core2">

          </div>
        </div>
        <app-bottom></app-bottom>
        <app-footer class="app-footer"></app-footer>

      </div>

    </div>
  </div>

</div>