<div class="main">
  <div class="content">
    <div class="p1">
      <div class="containers">
        <div class="container1">
          <h1 class="title" data-aos="fade-right" data-aos-duration="2000">7Wonders</h1>
          <h3 class="subtitle" data-aos="fade-right" data-aos-duration="3000">A portal to an ancient world</h3>
        </div>
      </div>

      <div class="background-image-container">
        <div class="background-image"></div>
      </div>

      <div class="p2">
        <div class="contest">
          <div class="core">
            <div class="corecontent">
              <h1 class="number" data-aos="fade-down" data-aos-duration="2000">
                01
              </h1>
              <h2 class="subnum" data-aos="fade-up" data-aos-duration="2000">
                ABOUT THE PROJECT
              </h2>
              <div class="pcontainer">
                <p class="fparagraph">
                  Herodotus, hailed as the "Father of History," embarked on remarkable journeys in the 5th century BCE,
                  chronicling the ancient world's wonders. His extensive voyages led him to unravel the mysteries of the
                  Seven Wonders. Roaming the Mediterranean and beyond, Herodotus meticulously documented architectural
                  marvels like the Great Pyramid of Giza, the Hanging Gardens of Babylon, and the Temple of Artemis at
                  Ephesus. His narratives not only unveiled the grandeur of these wonders but also delved into the
                  cultures and stories surrounding them.
                </p>
                <p class="sparagraph">
                  Herodotus' pioneering accounts laid the foundation for historical inquiry, preserving the essence of
                  ancient wonders for generations to come. With that, you are know prepared to visit these same wonders
                  from millenia ago, right in here, at you computer.
                </p>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="p3">
        <div class="contest1">
          <div class="core1">
            <div class="corecontent1">
              <h1 class="number" data-aos="fade-right" data-aos-duration="2000">
                02
              </h1>
              <h2 class="subnum" data-aos="fade-left" data-aos-duration="2000">
                A trip down world's history
              </h2>
              <p>
                Embark on a journey through time, tracing the footsteps of civilizations, and unravel the tapestry of
                world history. Join me for a captivating trip down the corridors of the past.
              </p>
            </div>

          </div>
        </div>
      </div>
      <div class="p4">
        <div class="contest2">
          <div class="core2">

          </div>
        </div>
        <app-bottom></app-bottom>
        <app-footer class="app-footer"></app-footer>

      </div>

    </div>
  </div>

</div>